/* applies to entire website, font size, image width, unordering listing etc */ 
html {
   font-size: 18px;
}
a, article, body, div, footer, header, h1, 
h2, img, li, nav, p {
   border: 0;
   padding: 0;
   margin: 0;
}

img {
   max-width: 100%;
   height: auto;
   width: auto;
}

ul {
   list-style-type: none;
   text-align: left;
}


/* Miscellaneous Text and Decoration */ 
p {
   margin: 0.4em 0;
   font-size: 1.1em;
   color: white;
}

body {
   font-family: Lato, 'Times New Roman', Times, serif, Helvetica, sans-serif;
   background: #000000;
   background-image: url("sportsnet2.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
}

.container {
   max-width: 864px;
   margin: 0 auto;
   position: relative;
   text-align: center;
}

.box {
    max-height: 10000px;
    max-width: 400px;
   margin: 0 auto;
   position: relative;
   text-align: left;
   background-color: rgb(255, 0, 0);
   border-color: #000000;
   border-radius: 2%;
}

.youtuberow {
    text-align: right;
    position: relative;
}

.ContactUs {
    text-align: right;
    position: relative;
    
}

h3 {
    color: white;
    text-align: center;
}

h4 {
 color: white;
 text-align: right;
}

h5 {
    color:white;
    text-align: right;
}

/* bypass navigation */
p.skipnavigation {
   margin: 0;
}
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: black;
   background-color: snow;
   top: 2%;
   left: auto;
   right: 2%;
   z-index: 2;
}


/* header section */
header {
   background-color: rgba(153, 149, 149, 0.278);;
   text-align: center;
}
h1 {
   font-weight: 700;
   font-size: 6em;
 font-family: "Russo One", sans-serif;
   color: rgb(255, 0, 0);
}
h1 img {
   display: block;
}


/* site navigation */

nav.sitenavigation {
   text-align: center;
  font-family: monospace;
  padding-left: 6%;
  background-color: crimson;
font-size: 36px;
  
}
nav.sitenavigation li {
   text-align: center;
   display: inline-block;
   padding-top: 20%;
   margin: 0.1em 0.2em;
   font-size: 1.1em;
}
nav.sitenavigation a:link {
   color: rgb(246, 243, 243);
   text-decoration: none;
}
nav.sitenavigation a:visited {
   color: #ffffff;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: rgb(53, 4, 248);
   text-shadow: 1px -1px 0 #000000;
}


/* footer section */ 
footer {
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: gray;
    padding-bottom: 8%;

}
/* forum comment section */

.message {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
}
.user {
  font-weight: bold;
}
.content {
  font-style: italic;
}

/* schedule, streams, news /spacing */
.logo-row {
    display: flex;              
    gap: 15px;                   
    justify-content: center;     
    align-items: center;         
    padding: 20px;
}

.logo-row img {
    width: 100px;                
    height: auto;
}


/* proper aligning for home.html, update log box and video box*/

.homepage-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;

}
  .content-row {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;        
    width: 90%;
    margin: 0 auto;                 
    margin-top: 40px;
}

.update-log {
   height: 150%; 
   width: 25%;           
   margin: 0 auto;

   text-align: center;
   background-color: rgb(255, 0, 0);
   border-color: #000000;
   border-radius: 2%;        
}

.logs-second {
   height: 150%;
    width: 25%;           
   margin: 0 auto;

   text-align: center;
   background-color: rgb(0, 13, 255);
   border-color: #000000;
   border-radius: 2%;       
}
.video-box {
    width: 40%;  
   position: center;                   
}

.h3text {
   text-align: center;
   font-size: 25px;
   font-family: "Russo One", sans-serif;
   background-color: blue;
   color: red;
}

/* Tables Section */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background: #ffffff;
    border: 1px solid #ccc;
}


th {
    background: #eaeaea;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    border-bottom: 2px solid #bbbbbb;
}

/* Table cells */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}


tr:nth-child(even) {
    background: #f5f5f5;
}


tr:hover {
    background: #e9f2ff;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

/* Streaming Videos */

.streambox {
  float: center; 
  text-align: center;
  display: block;
  font-size: 32px;
font-family: "Russo One", sans-serif;
}
